<tr>
	<td>
		<hr>
	</td>
</tr>
<tr>
	<td>
		<button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal" ng-click="reset()">
			<table>
				<tr>
					<td class="icon-column">
						<span class="glyphicon glyphicon-plus"></span>
					</td>
					<td class="label-column">
						<small>Create User</small>
					</td>
				</tr>
			</table>
		</button>
	</td>
</tr>
<tr>
	<td>
		<button class="btn btn-primary" ng-click="removeSelectedUsers()">
			<table>
				<tr>
					<td class="icon-column">
						<span class="glyphicon glyphicon-minus"></span>
					</td>
					<td class="label-column">
						<small>Remove User</small>
					</td>
				</tr>
			</table>
		</button>
	</td>
</tr>