<tr>
	<td>
		<button class="btn btn-primary" ng-click="goBack()">
			<table>
				<tr>
					<td class="icon-column">
						<span class="glyphicon glyphicon-home"></span>
					</td>
					<td class="label-column">
						<small>Home</small>
					</td>
				</tr>
			</table>
		</button>
	</td>
</tr>
<tr>
	<td>
		<hr>
	</td>
</tr>
<tr>
	<td>
		<button class="btn btn-primary" ng-click="viewAllBuckets()">
			<table>
				<tr>
					<td class="icon-column">
						<span class="glyphicon glyphicon-search"></span>
					</td>
					<td class="label-column">
						<small>View Buckets</small>
					</td>
				</tr>
			</table>
		</button>
	</td>
</tr>
<tr>
	<td>
		<button class="btn btn-primary" ng-click="viewAllUsers()">
			<table>
				<tr>
					<td class="icon-column">
						<span class="glyphicon glyphicon-user"></span>
					</td>
					<td class="label-column">
						<small>View Users</small>
					</td>
				</tr>
			</table>
		</button>
	</td>
</tr>