<nav role="navigation" class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2">
				<div class="navbar-header">
					<a class="navbar-brand" href="http://www.mulesoft.com"><img class="brand-image" src="https://anypoint.mulesoft.com/accounts/images/ms-logo.svg"></a>
				</div>
			</div>
			<div class="col-xs-9">
				<div ng-show="enableAlert" class="text-center">
					<div class="{{alertType}}">
						{{alertMessage}}
						<button type="button" class="close" ng-click="closeAlert()">&times;</button>
					</div>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="login-button">
					<ul class="nav navbar-right">
						<li>
							<button class="btn btn-default dropdown-toggle" type="button" id="actionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Actions <span class="glyphicon glyphicon-cog"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="actionDropdown">
								<li><a ng-click="gotoAdminPage()">Admin</a></li>
								<li><a ng-click="logout()">Logout</a></li>
							</ul>
						</li>
					</ul>	
				</div>
			</div>
		</div>
	</div>
</nav>