<div ng-include="'views/templates/navbar/mainnavbar.html'">
</div>
<div class="console-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-10">
				<div class="input-group search-bar">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
						&nbsp;{{currentUserEmail}}
					</span>
					<input type="text" class="form-control" placeholder="Search" ng-model="query">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<table class="side-menubar">
					<tbody ng-include="'views/templates/adminsidenav/mainoptions.html'">
					</tbody>
					<tbody ng-include="'views/templates/adminsidenav/userbucketsoptions.html'">
					</tbody>
				</table>
			</div>
			<div class="col-xs-10">
				<table class = "table-hover" style="width:95%">
					<tr class="file-row">
						<th class="text-center" style="width:4%"><label><input type="checkbox" name="BucketsList" ng-model="allSelected" ng-click="selectAll()"></label></th>
						
						<th class="text-left" style="width:88%">BucketName</th>
						<th class="text-left" style="width:8%">Permission</th>
					</tr>
					<tr ng-repeat="bucket in userBucketsList | filter:query" class="file-row">
						<td class="text-center">
							<label>
								<input type="checkbox" name="UserBucketsList" ng-model="bucket.isSelected" ng-click="closeAlert()">
							</label>
						</td>
						<td><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{bucket.bucketName}}</td>
						<td class="text-left" style="font-size:14px;">{{bucket.permissionType}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/templates/modals/changepermission.html'">
</div>
<div ng-include="'views/templates/modals/bucketpermission.html'">
</div>
